:root {
  --foreground: #000;
  --white: #fff;
  --foreground: #000;
  --black: #000;
}

body {
  color: var(--foreground);
  background: var(--white);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}