:root {
    --foreground: #000;
    --white: #fff;
    --foreground: #000;
    --black: #000;
    --admin-theme1: #5d4889;
    --admin-theme2: #6f42c1;
    --admin-theme1-hover: #8a4dfd;
    --admin-theme-box-shadow: rgba(114, 79, 175, 0.31);
    --color-f0f0f0: #F0F0F0;
    --color-yellow-shade: #ffc107;
}



html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: var(--foreground);
    background: var(--white);
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.card{
    padding: 20px;
    position: relative;
    border: 1px solid var(--admin-theme-box-shadow) !important;
    background-color: var(--white);
    border-radius: 8px;
    margin: 10px 10px 10px 5px;
    box-shadow: 3px 5px 0px 3px var(--admin-theme-box-shadow);
    margin: 10px 0 20px;
}